{
    "parser": "babel-eslint",
    "extends": "airbnb-base/legacy",
    "globals": {
        "item": true,
        "Security": true,
        "userID": true,
        "customTransID": true,
        "returnValue": true,
        "println": true,
        "Logger": true,
        "Email": true,
        "getPrintView": true,
        "createItem": true,
        "loadItem": true,
        "dmsID": true,
        "workspaceID": true
    },
    "rules": {
        "comma-dangle": ["error", "always"],
        "eol-last":"off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "linebreak-style": "off",
        "max-len": "off",
        "no-param-reassign": "off",
        "no-plusplus": "off",
        "vars-on-top": "off"
    }
}